.search-container {
  padding: 20px;
  width: 100%;
}

.search-input {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.search-input input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border-radius: 20px;
  border: none;
  background-color: #242424;
  color: white;
  font-size: 16px;
}

.search-input input:focus {
  outline: none;
  background-color: #2a2a2a;
}

.search-input input::placeholder {
  color: #b3b3b3;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #b3b3b3;
} 